<h1 style="text-transform: capitalize;">Welcome, <%= user.name %>!</h1>

<% if (user.role==='admin' ) { %>
  <h3>
    Total Collection: &pound;<%= totalCollection %>
      <%- include('../partials/admin/dashboard/bookList.ejs') %>
  </h3>
  <% } else { %>
    <h2>Our Books</h2>
    <div class="row">
      <% for( let i=0; i < books.length; i++ ) { %>
        <div class="col-lg-2 col-md-3 col-sm-12">
          <%- include('../partials/books/Card', {book: books[i], reviews: []}) %>
        </div>
        <% } %>
    </div>
    <% } %>