$primary: #B2F7EF; // Light Minty Aqua for primary color
$secondary: #F7D6E0; // Soft Pastel Pink for secondary color
$accent: #F4A261; // Soft Orange Accent
$success: #81B29A; // Muted Pastel Green for success
$info: #F4A261; // Soft Orange for info
$warning: #E9C46A; // Warm Yellow for warning
$danger: #E76F51; // Coral for danger
$dark: #555555; // Soft Charcoal Grey for dark elements

$dashboard-pink: #F2B5D4;
$dashboard-blue: #7BDFF2;
$dashboard-yellow: #fbf8cc;
$dashboard-green: #B2F7EF;

/* Define common variables for color and spacing */
$sidebar-bg-color: #B2F7EF;
$sidebar-hover-color: #8ac5be;
$card-bg-color: #f1f2f6;
$main-font-color: #3f3f3f;
$card-border-radius: 10px;
$card-box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
$default-padding: 20px;