<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <button class="toggle-btn" id="toggleBtn">
    <i class="bx bx-chevron-left"></i>
  </button>
  <div class="logo">
    <a href="/">
      <i class="bx bx-shield bx-lg"></i>
      <h2 class="text text-capitalize">
        <%= user.role %>
      </h2>
    </a>
  </div>
  <a href="/dashboard">
    <i class="bx bx-bar-chart-alt-2 icon"></i>
    <span class="text">Dashboard</span>
  </a>
  <% if (user.role==='admin' ) { %>
    <a href="#" class="expandable" id="booksMenu">
      <i class="bx bx-user icon"></i>
      <span class="text">Books</span>
      <i class="bx bx-chevron-down"></i>
    </a>
    <ul class="sub-menu" id="booksSubMenu">
      <li><a href="/books">Book List</a></li>
      <li><a href="/books/create">Add Book</a></li>
    </ul>
    <% } %>
      <a href="/orders">
        <i class="bx bx-cart-alt icon"></i>
        <span class="text">Orders</span>
      </a>
      <% if (user.role==='admin' ) { %>
        <a href="#" class="expandable" id="usersMenu">
          <i class="bx bx-user icon"></i>
          <span class="text">Users</span>
          <i class="bx bx-chevron-down"></i>
        </a>
        <ul class="sub-menu" id="usersSubMenu">
          <li><a href="/admin/users">User List</a></li>
          <li><a href="/admin/users/create">Add User</a></li>
        </ul>
        <% } %>
          <!-- <a href="#" class="expandable" id="settingsMenu">
            <i class="bx bx-cog icon"></i>
            <span class="text">Settings</span>
            <i class="bx bx-chevron-down"></i>
          </a>
          <ul class="sub-menu" id="settingsSubMenu">
            <li><a href="#">General</a></li>
            <li><a href="#">Security</a></li>
          </ul> -->
          <a href="/auth/logout">
            <i class="bx bx-log-out icon"></i>
            <span class="text">Logout</span>
          </a>
</div>