<style>
  .navbar-admin {
    margin-left: 250px;
    background-color: var(--bs-light);
    /* Use Bootstrap's light background color */
  }
</style>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light navbar-admin">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarAdmin"
      aria-controls="navbarAdmin" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarAdmin">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span class="navbar-text" style="text-transform: capitalize;">
        Welcome, <%= user.role %>
      </span>
    </div>
  </div>
</nav>